body {
  background-color: #f4f5f7;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

input, textarea, select, button {
  color: inherit;
  font: inherit;
}

h3,
h4 {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
}

h4 {
  color: #8e8e8e;
}
